trigger:
  branches:
    include:
      - main    # Cada vez que hagas push a main, se ejecuta

pool:
  vmImage: 'ubuntu-latest'  # Entorno Linux

steps:
# 1.2 Seleccionar PHP y ejecutar Composer desde script
- script: |
    php -v
    composer install
  displayName: 'Instalar dependencias de PHP'


# 3. Copiar archivo .env (opcional para pruebas)
- script: cp .env.example .env
  displayName: 'Copiar .env para pipeline'

# 4. Generar la key de Laravel
- script: php artisan key:generate
  displayName: 'Generar APP_KEY'

# 5. Ejecutar migraciones (opcional si quieres probar la DB)
# - script: php artisan migrate --force
#   displayName: 'Migrar base de datos'

# 6. Ejecutar pruebas
- script: php artisan test
  displayName: 'Ejecutar pruebas Laravel'

# 7. Publicar artefactos (opcional)
# - task: PublishBuildArtifacts@1
#   inputs:
#     PathtoPublish: '$(Build.ArtifactStagingDirectory)'
#     ArtifactName: 'drop'
#     publishLocation: 'Container'
